header {
    background: #ddd5d5;
    padding: 20px 0;
}

.caixa{
    position: relative;
width: 940px;
margin: 0% auto;

}

.titulo{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    margin: 1px;
    margin-left: 100px;
    padding: 8px;
    color: rgb(246, 12, 12);
    font-weight: bold;
    font-style: italic;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    right: 15px;
    

}

nav {
    position: absolute;
    top: 90px;
    right: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    text-transform: uppercase;
    color: rgb(68, 45, 105);
    font-weight: bold;
    font-size: 22px;
    
    
    
}





.watsapp {
    list-style: none;
    margin: 10px;
    display: inline-block;
    

}

.watsapp button {

    padding: 5px 15px;
    margin: 50;
    border: 02px solid rgb(252, 243, 243);
    background: rgb(52, 12, 161);
    text-decoration: none;
    color: rgb(205, 183, 183);
    /* cantos arredondados */
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 25px;
    display: inline-block;
    
}


.watsapp button:hover {
    cursor: pointer;
    text-align: center;
    background: rgb(14, 5, 5);
    color: rgb(233, 212, 212);
    border-color: #000;
    display: inline-block;
}

.servicosLista{
    width: 940px;
    margin: 0px auto;
    

}

.servicosLista li{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 1% 1.5%;
    border-radius: 30px;
    border: 3px solid #000;
    

    vertical-align: top;
    padding: 5px 10px;
    box-sizing: border-box;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    background: #96ad8e   
}

.servicosLista li:hover{
    border: 3px solid #40d010;
}



.servicosLista h2{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
}

footer{
    
    background: url('./img/back.jpg');
    position: relative;
    top: 10px;
    bottom: 10px;
  
}

footer p{
    text-align: right;
    margin: 0px 20px;
    position: relative;
    top: 20px;
    bottom: 20px;
}




.fotocaminhao{
    width: 940px;
    margin: 0px auto;
    display: inline-block;

}

.texto{
    display: inline-block;
    vertical-align: top;
    padding: 20px 20px;
    margin-left: 50px;
    
}
.texto h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    font-size: 18px;

}
.texto li{
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    list-style-type: disc;


}


.fotocaminhao img{
    display: inline-block;

}



